apiVersion: v1
kind: Namespace
metadata:
  name: dbaas-system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dbaas-operator-controller-manager
  namespace: dbaas-system
  labels:
    control-plane: controller-manager
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: controller-manager
    spec:
      securityContext:
        runAsNonRoot: true
      serviceAccountName: dbaas-operator-controller-manager
      containers:
      - command:
        - /manager
        args:
        - --leader-elect
        image: dbaas-operator:latest
        name: manager
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 500m
            memory: 512Mi
          requests:
            cpu: 100m
            memory: 128Mi
      terminationGracePeriodSeconds: 10
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: dbaas-operator-controller-manager
  namespace: dbaas-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: dbaas-operator-manager-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: dbaas-operator-manager-role
subjects:
- kind: ServiceAccount
  name: dbaas-operator-controller-manager
  namespace: dbaas-system
